.intro {
  text-shadow: 1px 1px 3px #00000080;

  &__container {
    padding-top: 37px;
    display: flex;
    gap: 37px;
    position: relative;
  }

  &__main {
    padding: 6em 0;
  }

  &__main h1 {
    margin-block: 0.2em;
  }
}
