.footer {
  background-color: $color-tertiary;
  background-image: url("@img/bg-lines.svg");
  background-size: cover;

  &__container {
    padding-bottom: 40px;
    @media (max-width: #{$bp-sm + px}) {
      padding: 40px 20px;
    }
  }

  &__upper-container {
    display: flex;
    justify-content: space-between;
    > * {
      align-self: center;
    }
    @media (max-width: #{$bp-sm + px}) {
      flex-direction: column;
      gap: 50px;
    }
  }
  &__socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
  }
  &__icon-container {
    padding: 0.77em;
    background-color: black;
    border-radius: 100px;
    text-align: center;
  }
  &__social-icon {
  }

  &__divider {
    height: 1px;
    background-color: $color-secondary;
    margin: 60px 0 80px;
    @media (max-width: #{$bp-sm + px}) {
      margin: 20px 0 30px;
    }
  }

  &__middle-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .container-middle {
    &__left-side {
    }
    &__text {
      color: $color-secondary;
      font-size: 24px;
    }
    &__email {
      @include adaptive-property(font-size, 60, 24);
      font-weight: 800;
      margin: 0.34em 0;
    }
    &__copyrights {
      margin-top: 82px;
      color: $color-secondary;
      @media (max-width: #{$bp-sm + px}) {
        margin-top: 30px;
      }
    }

    &__right-side {
    }
    &__links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3em;
      width: min-content;
    }
    &__link {
      color: $color-secondary;
      text-transform: capitalize;
      text-decoration: none;
      padding: 0.5em 0;
      white-space: nowrap;
      width: fit-content;
    }
    &__link:hover {
      transform: scale(1.02);
    }
    &__form {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
    }
    &__input,
    &__button {
      border: none;
      padding: 1.375em;
      box-sizing: content-box;
      height: 1em;
      font: inherit;
    }
    &__input {
      border-radius: 10px 0 0 10px;
      background-color: $color-primary;
      flex-grow: 1;
    }
    &__button {
      border-radius: 0 10px 10px 0;
      background-color: $color-accent;
      font-weight: 800;
      color: inherit;
      cursor: pointer;
    }
  }

  &__lower-container {
    margin-top: 80px;
  }
  .container-lower {
    &__additional-links {
      width: fit-content;
      margin: 0 auto;
    }
    &__link {
      text-decoration: none;
      color: $color-secondary;
      padding: 0.5em;
    }
    &__separator {
      display: inline-block;
      width: 0.3em;
      height: 0.3em;
      background-color: $color-secondary;
      border-radius: 50%;
      vertical-align: middle;
      margin: 0 0.5em;
    }
  }
}
