.header {
  text-shadow: 1px 1px 3px #00000080;

  &__container {
    @include adaptive-property(padding-block, 40, 10);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    & > * {
      justify-self: center;
      align-self: center;
    }
  }

  &__mini-logo-container {
    display: flex;
    gap: 9px;
    justify-self: start;
  }

  &__mini-logo {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  &__toggle-burger {
    display: none;
    background-color: black;
    padding: 0.8em 1.2em;
    border-radius: 5px;
  }

  &__burger-nav {
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    background-color: rgba(12, 12, 12, 0.99);
    transition: transform 0.4s;
    z-index: 100;
  }
  &__burger-nav_unfolded {
    transform: translateY(0);
  }

  &__burger-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 0 auto;
  }

  &__burger-nav-link {
    text-align: center;
    display: block;
    padding: 1em;
    @include adaptive-property(font-size, 40, 20);
  }

  &__burger-line {
    width: 20px;
    height: 2px;
    background-color: white;
  }
  &__burger-line:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (max-width: #{$bp-md + px}) {
    &__container {
      grid-template-columns: 1fr 1fr;
    }
    &__nav {
      display: none;
    }
    &__toggle-burger {
      display: inline-block;
      justify-self: flex-end;
    }
  }

  &__ul {
    display: flex;
    gap: 54px;
  }

  &__nav-link {
    white-space: nowrap;
    transition:
      0.2s background-color,
      0.2s color;
    display: flex;
    align-items: center;
    outline: none;

    &::before {
      content: '';
      display: block;
      width: 0.3125em;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: $color-primary;
      margin-right: 0.375em;
    }

    &:hover,
    &:focus {
      color: $color-accent;
      transform: scale(1.05);
      &::before {
        background-color: $color-accent;
      }
    }
  }

  @media (max-width: #{$bp-lg + px}) {
    &__ul {
      gap: 24px;
    }
  }
}

.mini-logo-part1 {
  background-color: $color-logo-part1;
}
.mini-logo-part2 {
  background-color: $color-logo-part2;
}
.mini-logo-part3 {
  background-color: $color-logo-part3;
}

body:has(.header__burger-nav_unfolded) {
  overflow: hidden;
}
