@use 'sass:math';

.about-agency {
  &__container {
    display: flex;
    justify-content: center;
    gap: 6%;
    padding-top: 120px;
    padding-bottom: 120px;
    > * {
      flex-basis: 50%;
      align-self: center;
    }
  }

  &__image-container {
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: math.floor(calc(190 / 588 * 100%));
      height: math.floor(calc(190 / 588 * 100%));
      border-radius: 50%;
      background-color: $color-tertiary;
      position: absolute;
      top: math.floor(calc(-50 / 588 * 100%));
      left: math.floor(calc(-50 / 588 * 100%));
    }

    &::after {
      content: '';
      display: inline-block;
      width: math.floor(calc(56 / 588 * 100%));
      height: math.floor(calc(56 / 588 * 100%));
      border-radius: 50%;
      background-color: $color-accent;
      position: absolute;
      top: math.floor(calc(560 / 588 * 100%));
      left: math.floor(calc(-28 / 588 * 100%));
    }

    img {
      max-width: 100%;
      position: relative;
    }
  }

  .about {
    line-height: 1.3;

    .section-title {
      &__main {
        margin-bottom: 40px;
      }
    }

    &__text {
      font-size: 18px;
      color: $color-accent;
      font-weight: 600;
      margin-bottom: 32px;
    }

    &__subtext {
      font-size: 15px;
      color: $color-subscript;
      font-weight: 500;
      margin-bottom: 32px;
    }

    &__link {
      display: inline-block;
      text-transform: capitalize;
      text-decoration: none;
      color: inherit;
      font-weight: 800;
      padding: 25px 50px;
      background-color: $color-accent;
    }
  }
}
