.blog {
  &__title {
    margin-bottom: 40px;
  }

  .section-title {
    &__bullet {
      margin: 0 auto;
    }
    &__subtitle {
      width: fit-content;
      margin: 0 auto;
    }

    &__main {
      width: fit-content;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__posts {
    margin-bottom: 40px;
  }
}
