@use 'sass:math';

html {
  font-size: 16px;
}

.container {
  max-width: $cont-dis + px;
  margin: 0 auto;
  padding: 80px 20px;
  box-sizing: content-box;
  @media (max-width: #{$bp-md + px}) {
    padding: 40px 5%;
  }
  @media (max-width: #{$bp-sm + px}) {
    padding: 20px 5%;
  }
}

body.borders .container {
  border: 1px solid orange;
}

.text-accent {
  color: $color-accent;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.main-link {
  padding: math.div(25, 16) + em math.div(50, 16) + em;
  background-color: $color-accent;
  text-transform: capitalize;
}

.icon-link {
  &:hover {
    transform: scale(1.05);
  }
}

.nav-link {
  white-space: nowrap;

  &::before {
    content: '';
    display: inline-block;
    width: 0.3125em;
    height: 0.3125em;
    border-radius: 50%;
    background-color: $color-primary;
    margin-right: 0.375em;
    vertical-align: middle;
  }
}

.section-title {
  line-height: 1.3;
  &__bullet {
    background-color: $color-accent;
    border-radius: 50%;
  }

  &__subtitle h2 {
    color: $color-secondary;
    text-transform: uppercase;
    margin-top: 1.15em;
    margin-bottom: 0.55em;
  }

  &__main-text {
    text-transform: capitalize;
  }
}

.image-cards {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // gap: 30px;
  // @media (max-width: #{$bp-lg + px}) {
  //   grid-template-columns: repeat(1, 1fr);
  //   max-width: 600px;
  //   margin: 0 auto;
  // }
  // @media (max-width: #{$bp-md + px}) {
  //   max-width: 400px;
  // }
}

.image-card {
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  > * {
    align-self: flex-end;
    flex-basis: 100%;
  }

  &__text-zone {
    background-color: $color-tertiary;
    margin: 20px;
    padding: 24px 32px;
    position: relative;
  }
  &__text {
    display: inline-block;
    white-space: nowrap;
  }
  &__badge-container {
    position: absolute;
    top: -50%;
    right: 20px;
    padding: 12px;
    width: fit-content;
    border-radius: 100px;
    background-color: $color-accent;
  }
  &__badge {
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  @media (max-width: #{$bp-xl + px}) {
    grid-template-columns: repeat(2, 1fr);
    @include adaptive-property(margin-left, 80, 24);
    @include adaptive-property(margin-right, 80, 24);
  }
  @media (max-width: #{$bp-md + px}) {
    grid-template-columns: repeat(1, 1fr);
    @include adaptive-property(margin-left, 180, 24);
    @include adaptive-property(margin-right, 180, 24);
  }
}

.card {
  background-color: $color-tertiary;
  @include adaptive-property(padding, 50, 25);
  display: flex;
  flex-direction: column;

  > *:not(.card__icon) {
    line-height: 1.3;
  }

  &__icon {
    @include adaptive-property(font-size, 72, 32);
  }

  &__name {
    @include adaptive-property(margin-top, 24, 12);
    @include adaptive-property(margin-bottom, 24, 12);
    font-size: 18px;
    font-weight: 800;
    text-transform: capitalize;
    flex: 1 0 0%;
    flex-basis: fit-content;
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    color: $color-secondary;
    flex: 1 0 0%;
  }

  &__line {
    height: 1px;
    background-color: $color-secondary;
    margin-top: 24px;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @media (max-width: #{$bp-xl + px}) {
    grid-template-columns: repeat(2, 1fr);
    @include adaptive-property(margin-left, 80, 24);
    @include adaptive-property(margin-right, 80, 24);
  }
  @media (max-width: #{$bp-md + px}) {
    grid-template-columns: repeat(1, 1fr);
    @include adaptive-property(margin-left, 180, 24);
    @include adaptive-property(margin-right, 180, 24);
  }
}

.post {
  border-bottom: 1px solid $color-secondary;
  padding-bottom: 32px;

  &__img-container {
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  &__img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__theme {
    color: $color-secondary;
    font-size: 14px;
    font-weight: 500;
  }
  &__theme::before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 40px;
    vertical-align: middle;
    background-color: $color-accent;
    margin-right: 10px;
  }

  &__status {
    color: $color-secondary;
    font-size: 14px;
    font-weight: 500;
  }
  &__status::before {
    content: '';
    display: inline-block;
    height: 0.15em;
    width: 0.15em;
    border-radius: 50%;
    background-color: $color-secondary;
    margin: 0 10px;
  }

  &__name {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
    margin-top: 10px;
  }
}

// Slider

.slider-item {
}
