$color-background: #000000;
$color-primary: #ffffff;
$color-secondary: #5d5d5d;
$color-accent: #f5900d;

$color-logo-part1: #e17e26;
$color-logo-part2: #f2b11a;
$color-logo-part3: #f3da77;

$cont-dis: 1200px;

// Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1700px;
