.header-background-container {
  height: 100%;
  width: 100vw;
  display: flex;
  gap: 80px;
  justify-content: flex-end;

  position: absolute;
  z-index: -1;
}

.header-background-1,
.header-background-2 {
  background-repeat: no-repeat;
  background-size: cover;
}

.header-background-1 {
  background-image: url('@img/image1.png');
  flex-basis: 230px;
}

.header-background-2 {
  background-image: url('@img/image2.png');
  flex-basis: 478px;
}
