.header-background {
  // height is calculated with js
  width: 100vw;
  max-width: 100%;
  display: flex;
  gap: 80px;
  justify-content: flex-end;

  position: absolute;
  z-index: -1;

  @media (max-width: #{$bp-md + px}) {
    gap: 50px;
  }
  @media (max-width: #{$bp-sm + px}) {
    gap: 30px;
  }
}

.header-background__image1,
.header-background__image2 {
  background-repeat: no-repeat;
  background-size: cover;
}

.header-background__image1 {
  background-image: url('@img/image1.png');
  flex-basis: 230px;
}

.header-background__image2 {
  background-image: url('@img/image2.png');
  flex-basis: 478px;
}
