html {
  scroll-behavior: smooth;
}

body {
  color: $color-primary;
  background-color: $color-background;
}

// .brands {
//   display: flex;
//   gap ?;
//   font-size: ?px;

//   * {
//     border: 1px solid red;
//   }

//   *::before {
//     display: inline-block;
//   }

//   .icon--oakville::before {
//     font-size: 0.65em;
//     transform: translateY(-0.15em);
//   }

//   .icon--first-class-flooring::before {
//     font-size: 0.67em;
//     transform: translateY(-0.16em);
//   }

//   .icon--first-ontario::before {
//     font-size: 0.35em;
//     transform: translateY(-0.75em);
//   }

//   .icon--ginos-pizza::before {
//     font-size: 0.96em;
//   }
// }
