// font-family
// font-size
// font-weight

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.header__nav {
  font-weight: 600;
}

h1 {
  @include adaptive-font(105, 60);
  font-weight: 800;
  letter-spacing: -5px;
}
